body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 4px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.list-group-item {
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
}

    .item.list-group-item .list-group-image {
        margin-right: 5px;
    }

    .item.list-group-item .thumbnail {
        margin-bottom: 0;
    }

    .item.list-group-item .caption {
        padding: 4px 4px 0 4px;
    }

    .item.list-group-item:nth-of-type(odd) {
        background: #eeeeee;
    }

    .item.list-group-item:before, .item.list-group-item:after {
        display: table;
        content: " ";
    }

    .item.list-group-item img {
        float: left;
    }

    .item.list-group-item:after {
        clear: both;
    }

.list-group-item-text {
    margin: 0 0 11px;
}
